input[type='radio'] {
  position:absolute;
  top: -2em;
  clip:rect(0,0,0,0);
}

.score {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
  border: 0;
  font-size: 0;
}
.score legend {
  overflow: hidden;
  height: 0;
}
.score label {
  font-size: 32px; font-size: 2rem;
  line-height: 32px; line-height: 2rem;
  display: inline-block;
  position: relative;
  text-align: center;
  width: 1.2em;
  height: 1em;
  overflow: hidden;
  text-indent: 100%;
}
.score label:before {
   content: "☆";
   position: absolute;
   top: 0; left: 0; right: 0; bottom: 0;
   text-indent: 0;
   line-height: 1em;
   color: #aaa;
}
.score label:hover:before,
.score label:hover ~ label:before,
.score input:checked ~ label:before {
   content: "★";
   color: #ffbb04;
}
.score label:active {
  position: relative;
  top: 1px;
}

.ratstarfilm {
    position: relative; 
    text-decoration: none; 
    color: yellow; 
    padding-left: 125px; 
    padding-top: 265px;
}

